<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApp_Koodrizi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <!--<add name="KoodContext" connectionString="Data Source=.;Initial Catalog=d_KoodDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="KoodContext" connectionString="Data Source=.;Initial Catalog=DualpKoodDB;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="KoodContext" connectionString="Data Source=46.249.124.90;User ID=ASPApplication;password=ASP@34102030 ;Initial Catalog=Dualp.KoodDB;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="KoodContext" connectionString="Data Source=87.236.210.21;User ID=dualp_koodDB;password=Ko@3410.ir ;Initial Catalog=dualp_koodDB;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <WindowsFormsApp_Koodrizi.Properties.Settings>
      <setting name="WeightKood" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PersentRoyat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BarId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SellDate" serializeAs="String">
        <value />
      </setting>
      <setting name="DueDate" serializeAs="String">
        <value />
      </setting>
    </WindowsFormsApp_Koodrizi.Properties.Settings>
  </userSettings>
</configuration>

